.header {
    background-image: url('../images/phone-repair-600.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header__content {
    padding-top: 150px;
    color: #fff;
    text-align: center;
}


/* index */



.services__item-container {
    width: 300px;
}

.item-container__rounded-wrapper {
    left: 39%;
}

/* index */


/* Feed back form */

.feedback-form__wrapper {
    padding: 30px 0;
}

.feedback-form-firstName {
    padding: 5px;
    margin: 5px
}

.feedback-form-tel {
    padding: 5px;
    margin: 5px;
}

.feedback-form-problem {
    max-width: 380px;
    min-width: 190px;
    height: 75px;
}


/* Feed back form */


/* Contacts */

.header__information-contacts {
    max-width: 350px;
    min-height: 250px;
    background: #fff;
    margin: 75px auto;
}


/* Contacts */




/* About */

.primaryLine {
    display: none;
}
.about-info__heading{
    text-align: center;
}
.about-info__leading-wrapper {
    text-align: center;
}

.about-info__button-wrapper{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.team {
    padding: 50px 0;
}


/* About */