.header {
    background-image: url('../images/header-600.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header__content {
    padding-top: 150px;
    color: #fff;
    text-align: center;
}