@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');
.primaryColor {
    color: #3d7ac4
}

.primaryBackground {
    background: #3d7ac4;
}

.secondaryColor {
    color: #bd4242;
}

.centered {
    text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}

.toggle-button {
    outline: none !important;
}

.my-navbar {
    background-color: rgba(36, 36, 36, 0.7);
}

.header {
    background-image: url('../images/header-400.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 400px;
    position: relative;
}

.header__layer {
    background-color: rgba(27, 73, 125, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header__content {
    padding-top: 150px;
    color: #fff;
}


/* Contacts */

.header__information-contacts {
    max-width: 350px;
    min-height: 250px;
    background: #fff;
    margin-top: 85px;
    padding: 15px;
}

.information-contacts__heading {
    font-size: 1.5em;
}

.information-contacts__contacts {
    margin-bottom: 20px;
}

.information-contacts__schedule {
    margin-bottom: 20px;
}

.offices {
    padding-top: 30px;
}

.offices-new {
    padding-top: 0;
}

.offices__name {
    font-size: 1.5rem;
}

.offices__name-container {
    margin-top: 10px;
}

.offices__map {
    padding: 0;
    height: 300px;
}

.maps__yandex-map {
    height: 100%;
    padding-bottom: 40px;
}

.offices__photo-img {
    padding: 10px;
}


/* Contacts */


/* About */

.about-info {
    padding: 50px 0;
}

.about-info__wrapper {
    margin-top: 40px;
}

.primaryLine {
    display: block;
    width: 50px;
    margin-top: 9px;
    height: 7px;
    border-radius: 5px;
}

.about-info__leading-wrapper {
    padding-left: 30px;
}

.about-info__button-wrapper {
    margin-top: 30px
}

.reviews {
    height: 400px;
}

.happy-users {
    height: 400px;
}

.team {
    padding: 50px 0;
}

.advantages {
    padding: 50px 0;
}

.advantages__list {
    list-style: none;
    color: white
}

.happy-users__row {
    padding-top: 120px
}

.happy-users__icon-wrapper {
    height: 70px;
    width: 260px;
    margin: 0 auto;
}

.happy-users__icon {
    font-size: 1.8rem;
}


/* About */


/* Feed back form */

.feedback-form__wrapper {
    padding: 30px 0;
}

.feedback-form-firstName {
    padding: 5px
}

.feedback-form-tel {
    padding: 5px
}

.feedback-form-problem {
    width: 380px;
    height: 75px;
}

.form-success {
    max-width: 300px;
    margin: 10px auto;
}


/* Feed back form */


/* Footer */

.footer {
    padding-top: 10px;
}

.footer__social-links {
    margin: 10px 0;
}

.footer__links {
    margin: 10px 0;
}

.social-links__icon {
    font-size: 1.5em;
    margin: 0 5px;
}


/* Footer */