.header {
    background-image: url('../images/header-600.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header__content {
    padding-top: 150px;
    color: #fff;
    text-align: center;
}


/* Feed back form */

.feedback-form__wrapper {
    padding: 30px 0;
}

.feedback-form-firstName {
    padding: 5px;
    margin: 5px
}

.feedback-form-tel {
    padding: 5px;
    margin: 5px;
}

.feedback-form-problem {
    max-width: 380px;
    min-width: 190px;
    height: 75px;
}


/* Feed back form */


/* Contacts */

.header__information-contacts {
    max-width: 350px;
    min-height: 250px;
    background: #fff;
    margin: 75px auto;
}


/* Contacts */