
h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.5rem;
}

.header__content {
    padding-top: 100px;
    color: #fff;
}


/* index */

.services__item{
    margin-bottom: 40px;
}

.about-intro__row {
    padding-top: 30px
}

.about-intro__text-wrapper {
    padding-top: 10px
}

.about-btn {
    margin-bottom: 20px;
}

.our-services__item {
    text-align: center;
}





/* index */

/* Contacts */

.maps__yandex-map {
    height: 300px;
    padding-bottom: 40px;
}


/* Contacts */


/* About */

.primaryLine {
    display: none;
}

.about-info__heading {
    text-align: center;
}

.about-info__leading-wrapper {
    text-align: center;
}

.about-info__button-wrapper {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.happy-users__row {
    padding-top: 10px
}

.happy-users__icon-wrapper {
    height: 70px;
    width: 260px;
    margin: 20px auto;
}


/* About */